.jayjyoo_logo {
    font-family: 'Lobster', cursive;"
}

.jayjyoo_header {
    text-align:center;
    margin: 2rem 0;"
}

.jayjyoo_footer {
    text-align:center;
    margin-top: 2rem;"
}

.jayjyoo_footer_button {
    font-size: .9rem;
 }