    <div class="jayjyoo_header">
        <div>
        <h1 class="jayjyoo_logo">jayjyoo</h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}"> <!-- next 인자가 있으면 완료 후 원래 페이지로 돌아오게됨-->
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:create' %}">
                <span>SignUp</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>logout</span>
            </a>
            {% endif %}
        </div>
    </div>